#edit{
    background-color: rgb(63, 53, 199);
   color: beige;
   padding: 10px;
   margin-top: 30px;
   margin-left: 10px;
   width: 100px;
}
#cancel{
    background-color: rgb(199, 53, 155);
    color: beige;
    padding: 10px;
    margin-top: 30px;
    width: 100px;
    margin-left: 10px;
}
#save{
    background-color: rgb(236, 16, 16);
    color: beige;
    padding: 10px;
    margin-top: 30px;
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
}
#save:hover{
    background-color: aquamarine;
    font-size: 15px;
    color: brown;
}
#s{
    padding: 10px 30px;
    margin-top: 30px;
}